target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
classification/src/test/java/com/vision4j/classification/ExporingStuff.java
models/vgg16-deeplearning4j-classifier/src/test/java/com/vision4j/classification/Vgg16DeepLearning4jClassifierExperiments.java
models/vgg16-deeplearning4j-classifier/src/main/java/com/vision4j/classification/Experiments.java
*.log
models/grpc-segmentation/output.png
models/grpc-completion/output.png
models/grpc-completion/src/main/java/com/vision4j/completion/Experiments.java
